@import "_reset";
@import "_mixins";
/*@import "_buttons";
@import "_variables";*/

h1 {
  color: red;
  @include responsive("iPhone") {
    color: yellow;
  }
  @include responsive("iPhone-l") {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: green;
  }
  @include responsive("ipad-l") {
    color: blue;
  }
}
